<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Top menu for store
 *
 * @var $block \Magento\Theme\Block\Html\Topmenu
 */
?>
<?php $columnsLimit = $block->getColumnsLimit() ?: 0; ?>
<?php $_menu = $block->getHtml('level1', 'submenu', $columnsLimit) ?>

<nav class="navigation" data-action="navigation">
    <ul data-mage-init='{"menu":{"responsive":true, "expanded":true, "position":{"my":"left top","at":"left bottom"}}}'>
            <li class="categories-main-tab level0 nav-1 category-item first level-top parent ui-menu-item" role="presentation">
                <a href="#" class="level-top ui-corner-all" aria-haspopup="true" id="ui-id-3" tabindex="-1" role="menuitem">
                    <span class="ui-menu-icon ui-icon ui-icon-carat-1-e"></span><span class="main-level-name">KATEGORIE</span>
                </a>
                <ul class="level1 level1-vertical submenu ui-menu ui-widget ui-widget-content ui-corner-all" role="menu" data-mage-init='{"menu":{"responsive":true, "expanded":true, "position":{"my":"left top","at":"left bottom"}}}'>
                    <?php /* @escapeNotVerified */ echo $_menu; ?>
                </ul>
            </li>
        <?php /* @escapeNotVerified */ echo $block->getChildHtml(); ?>
    </ul>
</nav>
