.page-footer {
  .block-title {
    position: relative;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 0 8px;
    margin: 0 0 10px;
    color: @color-white;
  }

  .block-title {
    &:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -2px;
      height: 2px;
      width: @indent__l;
      background: @color-lampy-zloty;
    }
  }

  .footer-left {
    width: calc(25% - 1px);
    display: inline-block;
    float: left;
    border-right: 1px solid @color-gray19;

    .socials-wrap {
      ul {
        li {
          display: inline-block;
          padding: 10px 15px 10px 0px;
        }
      }
    }

    .about-theshop {
      padding-right: 15px;
      color: @color-white;
      padding-top: @indent__l;
    }
  }

  .footer-right {
    width: 75%;
    display: inline-block;
    float: left;

    .newsletter {
      .title {
        display: inline-block;
        width: 15%;
        float: left;
        font-size: @font-size__l;
        font-weight: @font-weight__heavier;
        margin: 0;
        text-transform: uppercase;
        color: @color-white;
        margin-top: @indent__xs;
      }

      .content {
        display: inline-block;
        width: 85%;
      }
    }

    .footer-block {
      width: 25%;
      display: inline-block;
      float: left;
      color: @color-white;

      .block-content {
        li {
          a {
            color: @color-white;
          }
        }
      }

      &.footer-four {
        position: relative;
      }

      .spotlight {
        padding-left: 15px;
        padding-right: 15px;

      }
    }
  }
}