.home-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
  > article {
    border: 1px solid #ccc;
    position: relative;
    padding-bottom: 40px;
    img {
      max-width: 100%;
    }
    .text {
      padding: 0 20px 20px;
      > a.more {
        background: gray;
        border: 0;
        color: white;
        padding: 10px;
        width: 40%;
        bottom: 20px;
        position: absolute;
        margin: 0 auto;
      }
    }
  }
}

