/* Price list */

div.comparisontable {
  display: flex;
  flex-direction: column; /* turn children ul elements into stacked rows */
}

div.comparisontable ul.row {
  list-style: none;
  display: flex; /* turn children li elements into flex children */
  flex: 1;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
}

div.comparisontable ul.row li {
  background: #e9e9e9;
  flex: 1;
  padding: 10px;
  border-bottom: 1px solid gray;
  margin: 0px;
}

/* the legend column (first li within each row) */
div.comparisontable ul.row li.legend {
  background: #363636;
  color: white;
  border: none;
  width: 200px;
  border-bottom: 1px solid gray;
  margin-bottom: 0px;
}

/* very first row */
div.comparisontable ul.row:first-of-type li {
  text-align: center;
}

/* very last row */
div.comparisontable ul.row:last-of-type li {
  text-align: center;
  border-bottom: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.23);
}

/* first and last cell within legend column */
div.comparisontable ul.row:first-of-type li.legend.legend,
div.comparisontable ul.row:last-of-type li.legend {
  background: transparent;
  box-shadow: none;
}

@media screen and (max-width: 650px) {

  div.comparisontable ul.row {
    flex-direction: column;
  }

  div.comparisontable img {
    width: auto;
    height: auto;
  }

  div.comparisontable ul.row li {
    margin-right: 0;
    width: auto;
    flex: auto;
  }

  /* first and last cell within legend column */
  div.comparisontable ul.row:first-of-type li.legend.legend,
  div.comparisontable ul.row:last-of-type li.legend {
    display: none;
  }

  div.comparisontable ul.row li.legend {
    width: auto;
  }
}



.comparisontable ul:nth-child(6n+1) li:nth-child(5n+1) {
  background-color: unset;

  li {
    width: 200px;
    padding: 10px 10px;
    border-bottom: 1px solid;
  }

   li:nth-child(5n+1) {
    background-color: grey;
    color: white;
  }

   ul:nth-last-child(6n+1) li:nth-child(5n+1) {
    background: unset;
  }

  ul:nth-last-child(6n+1) li {
    border: unset;
  }
}